body {
    background: url('space.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Skranji', cursive;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tiltDiv {
    transform-style: preserve-3d;
}

.mainContainer {
    height: 100vh;
    display: flex;
    
}

.calcContainer {
    -webkit-box-shadow: 4px 3px 39px -10px rgba(255,255,255,1);
-moz-box-shadow: 4px 3px 39px -10px rgba(255,255,255,1);
box-shadow: 4px 3px 39px -10px rgba(255,255,255,1);
    background-color: #141414;
    border-radius: 25px;
    margin: 0 auto;
    height: 600px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display {
    border-radius: 10px;
    height: 150px;
    width: 100%;
}

#textDisplay {
    font-family: 'Skranji', cursive;
    padding: 50px;
    background-color: #141414;
    color: white;
    border-radius: 25px 25px 0 0;
    font-size: 2em;
    height: 90%;
    width: 200px;
    border: none;
    transition: 0.5s;
}

.buttonDiv {
    position: relative;
    top: -20px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    transform: translateZ(60px);
    font-family: 'Skranji', cursive;
    border: none;
    margin: 5px;
    border-radius: 10px;
    font-size: 1.2em;
    height: 50px;
    width: 50px;
    background-color: #232323;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    -webkit-box-shadow: 10px 7px 20px -9px rgba(255, 115, 60, 0.5);
    -moz-box-shadow: 10px 7px 20px -9px rgba(255, 115, 60, 0.5);
    box-shadow: 10px 7px 20px -9px rgba(255, 115, 60, 0.5);
}

button:hover {
    background-color: maroon;

}

* {
    outline: none;
}

.operatorDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: -20px;
}

.operator {
    font-size: 2em;;
    height: 40px;
    width: 40px;
}

.equals {
    background-color: orangered;
    border-radius: 10px;
    font-size: 1.2em;
    height: 50px;
    width: 50px;
}

.clearAll {
    background-color: orangered;
}